<button id="logout-button">Logout</button>
<h1><%= profile.email %></h1>
<img src="<%= profile.picture %>" />

<ul>
  
  <li><b>Name:</b> <%= profile.user_metadata.name %></li>
  <li><b>Last name:</b> <%= profile.user_metadata.lastName %></li>
  <li><b>Title:</b> <%= profile.user_metadata.title || 'not answered yet' %></li>
  <li><b>Company:</b> <%= profile.user_metadata.company || 'not answered yet' %></li>
  <li><b>Is interested:</b> <%= profile.user_metadata.interested || 'not answered yet' %></li>
  <li><b>Decision timeframe:</b> <%= profile.user_metadata.timeframe || 'not answered yet' %></li>

</ul>