<% include header %>

<section class="jumbotron">
  <h2><img src="<%= profile.picture %>" width="100px" height="100px" /></h2>
  <h1><%= profile.user_metadata.name || "" %> <%= profile.user_metadata.last_name || "" %></h1>
  <p>
    <b>Name:</b> <%= profile.user_metadata.name %> - 
    <b>Last name:</b> <%= profile.user_metadata.last_name %> - 
    <b>Email:</b> <%= profile.email %> - 
    <b>Title:</b> <%= profile.user_metadata.title || 'not answered yet' %> - 
    <b>Company:</b> <%= profile.user_metadata.company || 'not answered yet' %> - 
    <b>Is interested:</b> <%= profile.user_metadata.interested || 'not answered yet' %> - 
    <b>Decision timeframe:</b> <%= profile.user_metadata.timeframe || 'not answered yet' %>
  </p>

</section>

<code class="profile">
  <pre><%- prettyjson.render(profile) %></pre>
</code>